@media only screen and (max-width: 575px) {
.cart-section .cart-item-thumb {width: 100%;margin-bottom: 1.5rem;}
.cart-item-qty {justify-content: start;gap: 20px;}
.cart-section .wish-left .cart-head > div {   flex-wrap: wrap; }
/*.cart figure > img { height: 30rem;   }*/
.cart figcaption {inset: 0 !important;bottom: 0 !important;top: 0 !important;}
.cart figcaption img {width: auto !important;}
.home-sec-bar h4 {   margin-bottom: 1.25rem !important; }
body .wishlist-list .cart-item-select{min-width: 25rem}
}


@media only screen and (max-width: 767px) {
.cta-bar aside {   padding: 1.25rem; }
.top-footer .social-icons ul {justify-content: start !important;}
.event-section .wrap {   margin: 1.5rem 0; }
.account-section .form-control {   padding: 0.625rem 1.25rem; }
.membership-section-five .main-heading h2 {display: block;margin: 0;}
.order-detail-section .addressWrap .wrap {margin-bottom: 1.5rem;}
.cart-item-select .form-check .form-check-label ul {flex-wrap: wrap;}
.round-tab{font-size: 0.75rem}
.order-tracked-section .round-tab{padding: 0.3rem}
.wizard .nav-tabs li{padding: 0 6px}
.wishlist-list .cart-item-select{min-width: 40rem}
}

@media only screen and (min-width: 577px) and (max-width: 991px) {
.cart figure > img {   height: 240px; }
.cart-section .cart-item-thumb {   width: 55%; }
.home-sec-bar h4 {   margin-bottom: 0 !important; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
.action-btns {gap: 0.625rem !important;}
.hero-slider .slick-dots {bottom: 0.375rem;}
.hero-section figcaption {padding: 1.875rem;}
.d-inline-block.logo {width: 8.125rem;}
.mid-footer-list-form {padding: 1rem 0 0;}
.main-section {padding: 2rem 0 !important;}
.wishlist-bnnr figure > img {height: 15rem !important;}
.membership-section-three .wrap, .membership-section-five .wrap, .membership-section-six .wrap {padding: 1rem;}
.shop-head .shop-headInnr {margin-bottom: 2rem;}
.productdetail-section-one {padding-top: 0 !important;}
.account-section .form-control { padding: 0.6rem 1.5rem;}
.my-add-sec {padding-bottom: 2.5rem !important;}
.modal-dialog.w-50 .modal-body {padding: 2.5rem 0 0rem;}
.return-section table th, .return-section table td {padding-bottom: 1rem !important;}
.cart-section .cart-item, .review-section .wrap {padding: 1.875rem 1rem 1.875rem 0.5rem;}
.cta-bar {padding-top: 0 !important;}
}

@media only screen and (max-width: 991px) {
.hero-section {padding: 0 !important;}
.cart-item-qty {   width: 8rem; }
#filterSideBar .offcanvas-header, #filterSideBar .offcanvas-body {background-color: rgb(243, 247, 219);}
.review-section .wrap {margin: 1rem 0;}
.hero-section figcaption {padding: 1.5rem 1rem;}
.section-slider .shop-now {opacity: 1;transform: none;}
.wow {animation: none !important;transition: none !important;transform: none !important;opacity: 1 !important;visibility: visible; !important;}
.home-section-one {padding-bottom: 0 !important;}
.home-section-one figure { position: relative; inset: 0; }
.btn {padding: 0.7rem;}
.rating .wrap {margin-bottom: 1rem;margin-top: 1rem !important;}
.review-section .rating-box .rating-container label {font-size: 1.7rem;}
.section-slider-pro figure {height: 15rem;}
.home-section-one a.product-card:hover {box-shadow: none !important;}
.personal-sec {padding-bottom: 2.5rem !important;}
.sec2Slider  .slick-track {margin-bottom: 1rem;}
.slick-arrow svg {opacity: 1;transform: none;}
.slick-arrow:hover svg {opacity: 1;transform: none;}
.slick-next svg:last-child {transform: none;opacity: 1;}
.modal-dialog.w-50 {width: 90% !important;margin: auto;}
.modal-dialog.w-50 .modal-body {padding: 2.5rem 0;}
#refund .form-label {margin-bottom: 20px !important;}
#refund .btn-close {width: 2.813rem;height: 2.813rem;}
.slick-next svg:first-child {transform: none;opacity: 0;}
.slick-prev svg:first-child {transform: none;opacity: 1;}
.slick-prev svg:last-child {transform: none;opacity: 0;}
.slick-prev:hover svg:first-child {transform: none;opacity: 1;}
.acc-right .main-heading {margin-bottom: 0; }
.home-section-one a:hover h5, .home-section-one a.product-card:hover figure, .home-section-one a.product-card:hover  {transform: none; }
.home-section-one a.product-card:hover {box-shadow: 0 !important;}
.cart-summary-total strong, .cart-totals strong, .cart-total strong {font-size: 1rem;}
.modal .modal-content {padding: 1.5rem;}
.addressWrap {margin-top: 1.5rem !important;}
/*.account-section .change-pass-form {max-width: 100%;}*/
.cta-bar aside h4 {margin-bottom: 1.25rem;}
.contact-section-one .contactWrap {padding: 1.5rem;}
.contact-section-two figure {padding: 1rem !important;}
.contact-section-two {padding-top: 0rem !important;padding-bottom: 3rem;}
.modal .btn-close {width: 3rem;height: 3rem;top: -0.75rem;right: -0.75rem;}
.modal .modal-content .btn {margin-bottom: 2rem !important; }
.membership-section-six .wrap svg {margin: 0.875rem 0;width: 100%; }
.membership-section-three .wrap, .membership-section-five .wrap, .membership-section-six .wrap {padding: 1.5rem; }
.membership-section-three, .membership-section-five {padding: 0;}
.membership-section-two {padding: 0 !important;}
.deliveries-sec h2 {margin-bottom: 1.25rem; }
.event-section .wrap .main-heading {margin-bottom: 1.25rem; }
.breadcrumb .bread-inner {gap: 1.25rem;}
.shop-head .shop-headInnr {justify-content: space-between !important; }
.productdetail-section-one .prod_title {letter-spacing: 0;}
.pro-price {margin: 1.5rem 0;}
#cart-notification {padding: 1.5rem;}
.cart-section .cart-item, .review-section .wrap {padding: 1.875rem 1rem;overflow: auto;}
#current-address {margin-bottom: 2rem !important;}
.cart-section .wish-left .cart-head {margin-bottom: 2rem !important;display: flex !important;   flex-direction: row;   gap: 20px;   flex-wrap: wrap;}
.cart-section .wish-left .cart-body {margin-bottom: 2rem;}
.cart-section .cart-item-thumb > div {gap: 1rem;}
#cart-notification, #wishlist-notification {width: 90%;margin: auto;}
.wishlist-bnnr figure > img {height: 29rem;object-fit: cover;}
.blog-det-section-one h3 {margin-bottom: 1.25rem;}
.home-section-one a.product-card h5 {max-width: 100%;margin-bottom: 1.25rem !important;}
.home-section-one a.product-card figure img {width: 100%; height: 100%; object-fit: scale-down;}
.events-section .product-card {margin: 0.75rem 0px;}
.inner-banner article {   padding: 1rem !important; }
.header .search-bar {margin: 1.25rem 0;}
.header .navigation-bar ul {gap: 1rem 2.5rem;}
.section-slider .slick-slide > a {margin: 0 1rem;}
.top-footer-info {margin: 1.25rem 0;}
.mid-footer-logos {margin-top: 1.5rem !important;}
.bottom-footer p {text-align: start !important;}
.bottom-footer .ft-payment-cards {justify-content: start !important;}
.modal-body {padding: 0;}
.acc-right .contactWrap {padding-inline: 1rem; }
.acc-right {margin: 1rem 0 3rem; }
.return-section table td {min-width: 7rem;padding: 1rem;}
.profile-main .form-control {margin-bottom: 0;}
.hero-section h2 {font-size: 1.563rem;}
.hero-section p {margin-bottom: 0.75rem;}
.hero-slider .slick-dots {bottom: 0.5rem;padding-left: 1rem;}
.inner-banner h1 {font-size: 1.563rem;}
.inner-banner article {padding-inline: 1.5rem;}
.membership-section-one h2 {line-height: 1.4; }
.abt-secs .main-heading {margin-bottom: 1.25rem !important;}
.about-section-two .wrap, .about-section-three .wrap {margin:0 0 1rem !important;}
.account-section h5 {font-size: 1rem; }
.account-section {margin: 0 !important;padding-top: 0 !important;     padding-bottom: 0 !important;}
.shop-sidebar, .productdetail-section-one .product-details, .account-section .acc-sidebar, .cart-summary {padding: 1.5rem 1rem;}
.about-section-two {padding: 0 !important;}
.about-section-three {padding-bottom: 0 !important;}
.how-to-sell article {padding: 1.125rem;margin-bottom: 1.25rem; }

.how-to-sell .sellTop p {margin-bottom: 1.5rem;}
.how-to-sell .sellTop h2 {margin-bottom: 1rem;}
.main-heading { margin-bottom: 1rem;}
.main-section {padding: 2.5rem 0;}
.main-section p {line-height: 1.65;margin-bottom: 1rem;}
.how-to-sell .sellTop {margin-top: 0.5rem;}
.footer .form-control {min-width: 10.5rem;width: 10.5rem;}
.contact-section-two figure svg {width: 1.2rem;height: 1.2rem;}
.order-detail-section .addressWrap .wrap {padding: 1rem;}
.checkout-section .form-group .form-control {padding: 0.5rem 1rem;}
.checkout-section .form-group textarea.form-control {min-height: 6rem;}
.return-section table th, .return-section table td {padding-left: 0.5rem;padding-right: 0.5rem;}
.blog-det-section-one.deliveries-sec table tr th {min-width: 9rem;}
.membership-section-four table tbody tr td {padding: 1rem !important;}
.inner-banner {margin-top: 0rem !important;}
.about-section-two .wrap {margin-top: 0 !important;}
.breadcrumb li a {font-size: 0.8rem;}
.cc {margin-top: 0rem;}
.cart-section, .checkout-section, .faq-section, .contact-section-one {padding-top: 0 !important;}
#delete-item a{margin-bottom: 0 !important}
#delete-item .modal-dialog{max-width: 96%}
.wizard > div.wizard-inner{margin-bottom: 2.5rem}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
.hero-slider .slick-dots {   bottom: 1.5rem; }
.cart-item-qty {   width: 20%; }
.top-footer-info ul {gap: 0.75rem !important;}
.section-slider .slick-list.draggable { margin: 0 2rem; }
.mid-footer-logos {   gap: 0; } 
.home-section-one a.product-card {padding: 1rem !important;gap: 0 !important;}
.home-section-one figure {position: relative;width: 50%;}
.home-section-one h5 {max-width: 50%;}
.abt-secs .main-heading {margin-bottom: 1.25rem; }
.about-section-three .wrap {margin-left: 0.5rem; }
.about-section-two .wrap {margin-right: 0.5rem; }
.modal .modal-content {padding: 3.75rem;  }
.modal .btn-close {width: 3.5rem;height: 3.5rem;top: -1.875rem;right: -1.875rem;  }
.thankyou-banner h1 {font-size: 30px;}
.offer-one h2 {font-size: 27px;}
.header .navigation-bar ul {gap: 1rem 2rem;}
.main-section {padding: 2rem 0;}
.main-heading {margin-bottom: 1rem;}
.main-section p {margin-bottom: 1rem;}
.section-slider-pro figure { height: 13rem;}
.order-detail-section .addressWrap .wrap {padding: 1rem;}
.checkout-section .form-group .form-control {padding: 0.75rem 1rem;}
.deliveries-sec h2 {margin-bottom: 1rem;}
.membership-section-six .wrap svg {width: 100%;}
.how-to-sell article {padding: 1.5rem;}
.inner-banner article {padding-bottom: 2rem !important;padding-top: 2rem !important;}
.membership-section-three .wrap, .membership-section-five .wrap, .membership-section-six .wrap {padding: 1.2rem;}
.breadcrumb { margin-top: 3rem;}
.account-section {margin-top: 1rem;}
.return-section table tr:last-child td {padding-bottom: 1.7rem;}
.review-section .wrap-two {margin-top: 0.3rem !important;}
}
@media only screen and (max-width: 1199px) {
.slick-arrow {left: 0.25rem;right: 0;}
.slick-next {left: auto;right: 0.25rem;}
.top-footer .social-icons{margin: 0}
}
@media only screen and (min-width: 1200px) and (max-width: 1299px) {
.home-section-one h5 {   max-width: 100%; }
.cart-item-qty {   width: 20%; }
.home-section-one figure {   position: unset; }
.main-section {padding: 2.5rem 0;}
.main-heading {margin-bottom: 1rem;}
.main-section p {margin-bottom: 1rem;}
.inner-banner article { padding-top: 2rem !important;padding-bottom: 2rem !important;}
.cart-section .free-shipping {margin-bottom: 0rem;}
.review-section .wrap-two {margin-top: 0.3rem !important;}
.section-slider-pro figure {height: 15rem;}
.cart-section .wish-left .cart-head {margin-top: 2rem !important;}
.cart-section .wish-left .cart-body {margin-bottom: 2rem;}
.events-section {margin:  1rem !important;}
.membership-section-two {padding-top: 0 !important;}
.membership-section-two .main-heading {margin-bottom: 2rem !important;}
.membership-section-six .wrap svg {width: 100%;}
.contact-section-one .contactWrap {margin-top: 1rem;}
.return-section table tr:last-child td {padding-bottom: 1.7rem;}
.top-footer .social-icons{margin-left: 2rem}
}
@media only screen and (max-width: 1299px) {
.blog-section-one { padding: 3rem 0 1rem !important; }
.blog-det-section-one.deliveries-sec {   padding-bottom: 3rem; }
}